.custom-badge .mat-badge-content {
  width: 24px !important;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
}

.custom-badge .mat-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
}

a {
  &.active {
    color: #f08804;
  }
}

.bg_blur {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
}
