<div class="max-w-screen-2xl mx-auto px-4 mt-20">
  <div
    class="flex flex-col items-center py-36 justify-center mt-20 rounded-2xl shadow-xl relative"
  >
    <img
      class="absolute inset-0 w-full h-full object-cover rounded-2xl"
      src="../images/YourSouq.png"
      alt="ski resort image"
    />
    <div class="flex flex-col p-8 rounded-2xl items-center relative">
      <h1 class="my-6 font-extrabold text-white text-6xl">Welcome!</h1>
      <button
        class="bg-gradient-to-r font-semibold text-4xl px-8 py-4 border-2 border-transparent mt-8"
        style="
          background-color: #feebd3;
          color: #22190f;
          border-radius: 2.5rem !important;
        "
        routerLink="/shop"
      >
        SHOP NOW
      </button>
    </div>
  </div>
</div>
