@use "@angular/material" as mat; //يستورد مكتبة Angular Material ويعطيها اسم مختصر mat للاستخدام اللاحق.

@tailwind base;
@tailwind components;
@tailwind utilities;

$customTheme: mat.define-theme();
//ينشئ سمة مخصصة جديدة باستخدام الدالة define-theme من Angular Material.

@include mat.core();
//يطبق الأنماط الأساسية المطلوبة لجميع مكونات Angular Material.

.custom-theme {
  @include mat.all-component-themes(
    $customTheme
  ); //يطبق السمة المخصصة على جميع مكونات Angular Material داخل العناصر التي تحمل class custom-theme.

  //override the button styles
  .mdc-button:not(.mat-warn),
  .mdc-raised-button,
  .mdc-stroked-button,
  .mdc-flat-button {
    @apply rounded-md; // يستخدم فائدة Tailwind CSS rounded-md لجعل زوايا الزر دائرية بمقدار متوسط.
    color: #f08804 !important;
    // color: #74935a !important;
  }
  .mat-mdc-unelevated-button:not(:disabled) {
    color: var(
      --mdc-filled-button-label-text-color,
      var(--mat-app-on-primary)
    ) !important;
    background-color: #f08804 !important;
  }
}

.container {
  @apply px-6 max-w-screen-2xl;
}

.text-primary {
  color: #f08804 !important;
}

button.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-floating-label {
  color: #f08804 !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #f08804 !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mat-mdc-notch-piece {
  border-color: #f08804 !important;
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  caret-color: #f08804 !important;
}

.mat-mdc-snack-bar-container.snackbar-error {
  --mdc-snackbar-container-color: red;
  --mat-snack-bar-button-color: #fff !important;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.snackbar-success {
  --mdc-snackbar-container-color: green;
  --mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container .mdc-button__label {
  color: #fff !important;
}

.mdc-linear-progress__bar-inner {
  --mdc-linear-progress-active-indicator-color: #f08804 !important;
}
