<div class="flex flex-col gap-3">
  <div class="flex justify-end">
    <button mat-raised-button (click)="openFilterDialog()">
      <mat-icon>filter_list</mat-icon>
      Filters
    </button>
    <button mat-raised-button [matMenuTriggerFor]="sortMenu" #menuTrigger>
      <mat-icon>swap_vert</mat-icon>
      Sort
    </button>
  </div>
  <div class="grid grid-cols-5 gap-4">
    @for (product of products; track product.id) {
    <!-- تحتاج الي بعض معلومه التتبع لكل منتج تدور حوله
        تحتاج إلى تحديد track (عادةً بـ id) لتحسين تحديثات الـ DOM
    -->
    <app-product-item [product]="product"></app-product-item>
    }
  </div>
</div>

<mat-menu #sortMenu="matMenu">
  <mat-selection-list
    [multiple]="false"
    (selectionChange)="onSortChange($event)"
  >
    @for (sort of sortOptions; track $index) {
    <mat-list-option
      [value]="sort.value"
      [selected]="selectedSort === sort.value"
      >{{ sort.name }}</mat-list-option
    >
    }
  </mat-selection-list>
</mat-menu>
